<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/webshop/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webshop/css/owl.carousel.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webshop/css/owl.theme.default.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webshop/css/font-awesome.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webshop/css/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webshop/css/custom.css') }}" />
        {% endblock %}

    </head>
    <body>
    <div class="wrapper">
        {% include "parts/header.html.twig" %}
        <div class="body__overlay"></div>
        {% include "parts/offset_search.html.twig" %}
        {% block body %}{% endblock %}
        {% include "parts/footer.html.twig" %}
    </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/webshop/js/modernizr-2.8.3.min.js') }}"></script>
            <script src="{{ asset('bundles/webshop/js/jquery-1.12.0.min.js') }}"></script>
            <script src="{{ asset('bundles/webshop/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/webshop/js/plugins.js') }}"></script>
            <script src="{{ asset('bundles/webshop/js/slick.min.js') }}"></script>
            <script src="{{ asset('bundles/webshop/js/owl.carousel.min.js') }}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmGmeot5jcjdaJTvfCmQPfzeoG_pABeWo"></script>
            <script src="{{ asset('bundles/webshop/js/google_maps.js') }}"></script>
            <script src="{{ asset('bundles/webshop/js/waypoints.min.js') }}"></script>
            <script src="{{ asset('bundles/webshop/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
