{% extends "base.html.twig" %}

{% block body %}
    <div class="slider__container slider--one">
        <div class="slide__container">
            <div class="container-fluid">
                <div class="row">
                    <div class="slider__activation__wrap slider-activation-one no__navigation owl-carousel slider__fixed--height">
                        <!-- Start Single Slide -->
                        <div class="col-md-4 col-lg-4 slider">
                            <a href="product-grid.html">
                                <div class="slide">
                                    <img src="{{ asset('bundles/webshop/images/slider/fornt-img/1.jpg') }}" alt="slider image">
                                    <div class="slider__inner">
                                        <h1>#Men</h1>
                                        <p>Trending Of This Season</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End Single Slide -->
                        <!-- Start Single Slide -->
                        <div class="col-md-4 col-lg-4 slider">
                            <a href="product-grid.html">
                                <div class="slide">
                                    <img src="{{ asset('bundles/webshop/images/slider/fornt-img/2.jpg') }}" alt="slider image">
                                    <div class="slider__inner">
                                        <h1>#Women</h1>
                                        <p>Trending Of This Season</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End Single Slide -->
                        <!-- Start Single Slide -->
                        <div class="col-md-4 col-lg-4 slider">
                            <a href="product-grid.html">
                                <div class="slide">
                                    <img src="{{ asset('bundles/webshop/images/slider/fornt-img/3.jpg') }}" alt="slider image">
                                    <div class="slider__inner">
                                        <h1>#Girl&Boy</h1>
                                        <p>Trending Of This Season</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- End Single Slide -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="htc__category__area pt--70 pb--100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__title--2">
                        <h2 class="title__line">Our Categories</h2>
                        <p># Trending This Season</p>
                    </div>
                </div>
            </div>
            <div class="htc__product__container">
                <div class="row">
                    <div class="product__list clearfix mt--30">
                        <!-- Start Single Category -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 single__pro">
                            <div class="category">
                                <div class="ht__cat__thumb">
                                    <a href="product-details.html">
                                        <img src="{{ asset('bundles/webshop/images/product/9.jpg') }}" alt="product images">
                                    </a>
                                </div>
                                <div class="cat__hover__info">
                                    <div class="cat__hover__inner">
                                        <h2><a href="product-details.html">PoLo</a></h2>
                                        <span># Price up to $20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 single__pro">
                            <div class="category">
                                <div class="ht__cat__thumb">
                                    <a href="product-details.html">
                                        <img src="{{ asset('bundles/webshop/images/product/1.jpg') }}" alt="product images">
                                    </a>
                                </div>
                                <div class="cat__hover__info">
                                    <div class="cat__hover__inner">
                                        <h2><a href="product-details.html">PoLo</a></h2>
                                        <span># Price up to $20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 single__pro">
                            <div class="category">
                                <div class="ht__cat__thumb">
                                    <a href="product-details.html">
                                        <img src="{{ asset('bundles/webshop/images/product/2.jpg') }}" alt="product images">
                                    </a>
                                </div>
                                <div class="cat__hover__info">
                                    <div class="cat__hover__inner">
                                        <h2><a href="product-details.html">PoLo</a></h2>
                                        <span># Price up to $20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 single__pro">
                            <div class="category">
                                <div class="ht__cat__thumb">
                                    <a href="product-details.html">
                                        <img src="{{ asset('bundles/webshop/images/product/4.jpg') }}" alt="product images">
                                    </a>
                                </div>
                                <div class="cat__hover__info">
                                    <div class="cat__hover__inner">
                                        <h2><a href="product-details.html">PoLo</a></h2>
                                        <span># Price up to $20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 single__pro">
                            <div class="category">
                                <div class="ht__cat__thumb">
                                    <a href="product-details.html">
                                        <img src="{{ asset('bundles/webshop/images/product/3.jpg') }}" alt="product images">
                                    </a>
                                </div>
                                <div class="cat__hover__info">
                                    <div class="cat__hover__inner">
                                        <h2><a href="product-details.html">PoLo</a></h2>
                                        <span># Price up to $20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 single__pro">
                            <div class="category">
                                <div class="ht__cat__thumb">
                                    <a href="product-details.html">
                                        <img src="{{ asset('bundles/webshop/images/product/5.jpg') }}" alt="product images">
                                    </a>
                                </div>
                                <div class="cat__hover__info">
                                    <div class="cat__hover__inner">
                                        <h2><a href="product-details.html">PoLo</a></h2>
                                        <span># Price up to $20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 single__pro">
                            <div class="category">
                                <div class="ht__cat__thumb">
                                    <a href="product-details.html">
                                        <img src="{{ asset('bundles/webshop/images/product/7.jpg') }}" alt="product images">
                                    </a>
                                </div>
                                <div class="cat__hover__info">
                                    <div class="cat__hover__inner">
                                        <h2><a href="product-details.html">PoLo</a></h2>
                                        <span># Price up to $20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 single__pro">
                            <div class="category">
                                <div class="ht__cat__thumb">
                                    <a href="product-details.html">
                                        <img src="{{ asset('bundles/webshop/images/product/6.jpg') }}" alt="product images">
                                    </a>
                                </div>
                                <div class="cat__hover__info">
                                    <div class="cat__hover__inner">
                                        <h2><a href="product-details.html">PoLo</a></h2>
                                        <span># Price up to $20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Category -->
                        <!-- Start Single Category -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 single__pro">
                            <div class="category">
                                <div class="ht__cat__thumb">
                                    <a href="product-details.html">
                                        <img src="{{ asset('bundles/webshop/images/product/8.jpg') }}" alt="product images">
                                    </a>
                                </div>
                                <div class="cat__hover__info">
                                    <div class="cat__hover__inner">
                                        <h2><a href="product-details.html">PoLo</a></h2>
                                        <span># Price up to $20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Category -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Category Area -->
    <!-- Start Prize Good Area -->
    <section class="htc__good__sale">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                    <div class="prize__inner">
                        <div class="prize__thumb">
                            <img src="{{ asset('bundles/webshop/images/banner/big-img/1.jpg') }}" alt="banner images">
                        </div>
                        <div class="banner__info">
                            <div class="pointer__tooltip pointer--1 align-right">
                                <div class="tooltip__box">
                                    <h4>Tooltip Right</h4>
                                    <p>Lorem ipsum pisaci volupt atem accusa saes ntisdumtiu loperm asaerks.</p>
                                </div>
                            </div>
                            <div class="pointer__tooltip pointer--2 align-top">
                                <div class="tooltip__box">
                                    <h4>Tooltip Top</h4>
                                    <p>Lorem ipsum pisaci volupt atem accusa saes ntisdumtiu loperm asaerks.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                    <div class="prize__inner">
                        <div class="prize__thumb">
                            <img src="{{ asset('bundles/webshop/images/banner/big-img/3.jpg') }}" alt="banner images">
                        </div>
                        <div class="banner__info">
                            <div class="pointer__tooltip pointer--3 align-left">
                                <div class="tooltip__box">
                                    <h4>Tooltip Left</h4>
                                    <p>Lorem ipsum pisaci volupt atem accusa saes ntisdumtiu loperm asaerks.</p>
                                </div>
                            </div>
                            <div class="pointer__tooltip pointer--4 align-top">
                                <div class="tooltip__box">
                                    <h4>Tooltip Top</h4>
                                    <p>Lorem ipsum pisaci volupt atem accusa saes ntisdumtiu loperm asaerks.</p>
                                </div>
                            </div>
                            <div class="pointer__tooltip pointer--5 align-bottom">
                                <div class="tooltip__box">
                                    <h4>Tooltip Bottom</h4>
                                    <p>Lorem ipsum pisaci volupt atem accusa saes ntisdumtiu loperm asaerks.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ht__good__sale__hover">
            <div class="ht__good__sale__inner">
                <p><span>G</span><span>o</span><span>o</span><span>d</span></p>
                <h4>Price</h4>
            </div>
        </div>
    </section>
    <!-- End Prize Good Area -->
    <!-- Start Product Area -->
    <section class="htc__product__area pb--70">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__title text--left">
                        <h2 class="title__line title__border">New Arrivals</h2>
                        <p># Trending This Season</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product__wrap activation__style--1 owl-carousel owl-theme clearfix">
                    <!-- Start Single Product -->
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="product__thumb">
                                <a href="product-details.html">
                                    <img src="{{ asset('bundles/webshop/images/product-2/pro-1/1.jpg') }}" alt="product images">
                                </a>
                                <div class="product__offer">
                                    <span class="new">new</span>
                                    <span>-20%</span>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>
                                        <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>
                                        <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__inner">
                                <div class="product__details">
                                    <h2><a href="product-details.html">Tube Dress</a></h2>
                                    <ul  class="pro__prize">
                                        <li class="old__prize">$82.5</li>
                                        <li>$75.2</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="product__thumb">
                                <a href="product-details.html">
                                    <img src="{{ asset('bundles/webshop/images/product-2/pro-1/2.jpg') }}" alt="product images">
                                </a>
                                <div class="product__offer">
                                    <span>-20%</span>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>
                                        <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>
                                        <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__inner">
                                <div class="product__details">
                                    <h2><a href="product-details.html">New Dress For Sunday</a></h2>
                                    <ul  class="pro__prize">
                                        <li class="old__prize">$82.5</li>
                                        <li>$75.2</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="product__thumb">
                                <a href="product-details.html">
                                    <img src="{{ asset('bundles/webshop/images/product-2/pro-1/3.jpg') }}" alt="product images">
                                </a>
                                <div class="product__offer">
                                    <span class="new">new</span>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>
                                        <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>
                                        <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__inner">
                                <div class="product__details">
                                    <h2><a href="product-details.html">Lovely Dress</a></h2>
                                    <ul  class="pro__prize">
                                        <li class="old__prize">$82.5</li>
                                        <li>$75.2</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="product__thumb">
                                <a href="product-details.html">
                                    <img src="{{ asset('bundles/webshop/images/product-2/pro-1/4.jpg') }}" alt="product images">
                                </a>
                                <div class="product__offer">
                                    <span class="new">new</span>
                                    <span>-20%</span>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>
                                        <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>
                                        <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__inner">
                                <div class="product__details">
                                    <h2><a href="product-details.html">Sport Shirt For Men</a></h2>
                                    <ul  class="pro__prize">
                                        <li class="old__prize">$82.5</li>
                                        <li>$75.2</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="product">
                            <div class="product__thumb">
                                <a href="product-details.html">
                                    <img src="{{ asset('bundles/webshop/images/product-2/pro-1/4.jpg') }}" alt="product images">
                                </a>
                                <div class="product__offer">
                                    <span class="new">new</span>
                                    <span>-20%</span>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>
                                        <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>
                                        <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__inner">
                                <div class="product__details">
                                    <h2><a href="product-details.html">Sport Shirt For Men</a></h2>
                                    <ul  class="pro__prize">
                                        <li class="old__prize">$82.5</li>
                                        <li>$75.2</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </section>
    <!-- Start Brand Area -->
    <div class="htc__brand__area pb--70 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ht__brand__inner">
                        <ul class="brand__list owl-carousel clearfix">
                            <li><a href="#"><img src="{{ asset('bundles/webshop/images/brand/1.png') }}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{{ asset('bundles/webshop/images/brand/2.png') }}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{{ asset('bundles/webshop/images/brand/3.png') }}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{{ asset('bundles/webshop/images/brand/4.png') }}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{{ asset('bundles/webshop/images/brand/5.png') }}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{{ asset('bundles/webshop/images/brand/5.png') }}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{{ asset('bundles/webshop/images/brand/1.png') }}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{{ asset('bundles/webshop/images/brand/2.png') }}" alt="brand images"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Area -->
    <!-- Start Banner Area -->
    <div class="htc__instagram__area">
        <ul class="htc__instagram__posts owl-carousel clearfix">
            <li>
                <a href="#">
                    <img src="{{ asset('bundles/webshop/images/banner/bn-3/1.jpg') }}" alt="banner images">
                    <i class="zmdi zmdi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ asset('bundles/webshop/images/banner/bn-3/2.jpg') }}" alt="banner images">
                    <i class="zmdi zmdi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ asset('bundles/webshop/images/banner/bn-3/3.jpg') }}" alt="banner images">
                    <i class="zmdi zmdi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ asset('bundles/webshop/images/banner/bn-3/4.jpg') }}" alt="banner images">
                    <i class="zmdi zmdi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ asset('bundles/webshop/images/banner/bn-3/5.jpg') }}" alt="banner images">
                    <i class="zmdi zmdi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ asset('bundles/webshop/images/banner/bn-3/6.jpg') }}" alt="banner images">
                    <i class="zmdi zmdi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ asset('bundles/webshop/images/banner/bn-3/1.jpg') }}" alt="banner images">
                    <i class="zmdi zmdi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{{ asset('bundles/webshop/images/banner/bn-3/2.jpg') }}" alt="banner images">
                    <i class="zmdi zmdi-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- End Banner Area -->

{% endblock %}


