<header id="htc__header" class="htc__header__area header--one">
    <div class="header__top__area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                    <div class="ht__header__top__left">
                        <ul class="select__language hidden-sm hidden-xs">
                            <li class="drop--lan"><a href="#">eng</a>
                                <ul class="language__option">
                                    <li><a href="#">Engish</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                </ul>
                            </li>
                            <li class="drop--lan"><a href="#">usd</a>
                                <ul class="language__option">
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">EUR</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="htc__contact">
                            <a href="#"><i class="icon-call-out icons"></i>Call Us: +800 123 4567</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
                    <div class="logo">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('bundles/webshop/images/logo/logo.png') }}" alt="logo images">
                        </a>
                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                    <ul class="ht__header__right">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="#">Account</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
        <div class="container-fluid">
            <div class="row">
                <div class="menumenu__container clearfix">
                    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                        <div class="header__search search search__open">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-6 col-xs-5">
                        <nav class="main__menu__nav hidden-xs hidden-sm">
                            <ul class="main__menu">
                                <li class="drop"><a href="{{ path('home') }}">Home</a>
                                </li>
                                <li class="drop"><a href="{{ path('women') }}">women <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown mega_dropdown">
                                        <li><a class="mega__title" href="shop.html">Shop Pages</a>
                                            <ul class="mega__item">
                                                <li><a href="product-grid.html">Product Grid</a></li>
                                                <li><a href="product-list.html">Product List</a></li>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="checkout.html">checkout</a></li>
                                                <li><a href="wishlist.html">wishlist</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="mega__title" href="shop.html">Variable Product</a>
                                            <ul class="mega__item">
                                                <li><a href="#">Category</a></li>
                                                <li><a href="#">My Account</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="mega__title" href="shop.html">Product Types</a>
                                            <ul class="mega__item">
                                                <li><a href="#">Simple Product</a></li>
                                                <li><a href="#">Variable Product</a></li>
                                                <li><a href="#">Grouped Product</a></li>
                                                <li><a href="#">Downloadable Product</a></li>
                                                <li><a href="#">Simple Product</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop"><a href="{{ path('men') }}">men <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown mega_dropdown">
                                        <!-- Start Single Mega MEnu -->
                                        <li><a class="mega__title" href="shop.html">Shop Pages</a>
                                            <ul class="mega__item">
                                                <li><a href="product-grid.html">Product Grid</a></li>
                                                <li><a href="product-list.html">Product List</a></li>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="checkout.html">checkout</a></li>
                                                <li><a href="wishlist.html">wishlist</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="mega__title" href="shop.html">Variable Product</a>
                                            <ul class="mega__item">
                                                <li><a href="#">Category</a></li>
                                                <li><a href="#">My Account</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="mega__title" href="shop.html">Product Types</a>
                                            <ul class="mega__item">
                                                <li><a href="#">Simple Product</a></li>
                                                <li><a href="#">Variable Product</a></li>
                                                <li><a href="#">Grouped Product</a></li>
                                                <li><a href="#">Downloadable Product</a></li>
                                                <li><a href="#">Simple Product</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop"><a href="{{ path('children') }}">Children <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="product-grid.html">Product Grid</a></li>
                                        <li><a href="product-list.html">Product List</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('blog') }}">blog</a></li>
                                <li><a href="{{ path('contact') }}">contact</a></li>
                            </ul>
                        </nav>
                        <div class="mobile-menu clearfix visible-xs visible-sm">
                            <nav id="mobile_dropdown">
                                <ul>
                                    <li><a href="{{ path('home') }}">Home</a>
                                    </li>
                                    <li><a href="{{ path('blog') }}">blog</a></li>
                                    <li><a href="{{ path('contact') }}">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-3 col-xs-4">
                        <div class="htc__shopping__cart">
                            <a class="cart__menu" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                            <a href="#"><span class="htc__qua">2</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area"></div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>